<a href="https://colab.research.google.com/github/turtle-jaewoo/Data_Analysis/blob/main/Ch2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 2. 내장 자료구조, 함수, 파일

## 2.1 자료구조와 순차 자료형

- 파이썬의 자료구조는 단순하지만 강력
- 가장 자주 사용되는 순차 자료형은 튜플, 리스트, 딕셔너리

### 2.1.1 튜플

- 튜플은 한 번 할당되면 변경할 수 없는 고정 길이르 갖는 파이썬의 순차 자료형

In [ ]:
tup = (4, 5, 6)
tup

(4, 5, 6)

- 괄호를 생략해도 동일하게 작동

In [ ]:
tuple([4, 0, 2])

(4, 0, 2)

In [ ]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

- 튜플의 각 원소는 대괄호를 사요앻 다른 순차 자료형처럼 접근 가능

In [ ]:
tup[0]

's'

- 더 복잡한 표현식을 사용할 경우엔 괄호로 값을 묶어줄 필요가 있음      
Ex) 튜플의 튜플을 생성

In [ ]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [ ]:
nested_tup[0]

(4, 5, 6)

- 튜플에 저장된 객체 자체는 값을 변경할 수 있지만 한 번 생성되면 각 슬롯에 저장된 객체를 변경하는 것이 불가능
- 튜플내에 저장된 객체의 값을 변경할 때는 .append()를 사용해서 변경

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup

('foo', [1, 2], True)

In [ ]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

- '+' 연산자를 사용해서 튜플을 이어붙일 수 있음

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar', )

(4, None, 'foo', 6, 0, 'bar')

- 튜플에 정수를 곱하면 리스트와 마찬가지로 여러 개의 튜플의 복사본이 반복해서 늘어남

In [ ]:
('foo', 'bar') * 4
# 튜플내의 객체는 복사되지 않고 해당 객체에 대한 참조만 복사됨

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### **튜플에서 값 분리하기**
- 튜플 같은 표현의 변수에 튜플을 대입하면 파이썬은 등호 오른쪽에 있는 변수에서 값을 분리

In [ ]:
tup = (4, 5, 6)
a, b, c = tup
b

5

- 중첩된 튜플을 포함하는 순차 자료형에서도 값을 분리할 수 있음

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

- 파이썬에서 두 변수의 값을 바꿀 때 다른 언어와 달리 간단하게 해결 가능

In [ ]:
a, b = 1, 2
print(a)
print(b)

1
2

In [ ]:
b, a = a, b
print(a)
print(b)

2
1

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8,9)]
for a, b, c in seq:
  print(f'a={a}, b={b}, c={c}')
# 튜플이나 리스트를 순회할 때도 이 기능을 사용

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

- 튜플의 시작 부분에서 값을 일부만 끄집어내야하는 상황이 종종 발생
- *rest를 사용하면 함수의 시그니처에서 길이를 알 수 없는 긴 인수를 담기 위한 방법으로 사용됨

In [ ]:
values = 1, 2, 3, 4,5
a, b, *rest = values
print('a:', a)
print('b:', b)
print('rest:', rest)

a: 1
b: 2
rest: [3, 4, 5]

#### **튜플 메서드**

- 튜플의 크기나 내용은 변경이 불가능하기 때문에 인스턴스 메서드가 많지 않음
- 유용하게 사용되는 메서드는 count 메서드

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)
# 주어진 값과 같은 값의 개수를 반환

4

### 2.1.2 리스트

- 튜플과 대조적으로 리스트는 크기와 내용을 변경할 수 있음
- '[ ]'나 list를 사용해서 생성

In [ ]:
a_list = [2, 3, 7, None]

tup = ('foo', 'bar', 'baz')

b_list = list(tup)
print(b_list)

b_list[1] = "peekaboo"
print(b_list)

['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

- 리스트와 튜플은 의미적으로 비숫하며 많은 함수에서 교차적으로 사용 가능
- list 함수는 이터레이터나 제너레이터 표현에서 실젯값을 모두 담기 위한 용도로도 사용

In [ ]:
gen = range(10)
print(gen)
print(list(gen))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 원소 추가하고 삭제하기

- append 메서드를 사용해서 리스트의 끝에 새로운 값을 추가한다

In [ ]:
b_list.append('dwaf')
b_list

['foo', 'peekaboo', 'baz', 'dwaf']

- insert 메서드를 사용하면 특정 위치에 값을 추가할 수 있음

In [ ]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwaf']

- 값을 추가하려는 위치는 0부터 리스트의 길이 사이여야함.
- insert는 추가된 값 이후의 모든 값을 이동시켜야하므로 append에 비해 비용이 많이듦
- 만약 순차 자료형의 시작과 끝에 원소를 추가하고 싶으면 collenction.dequeue를 사용

- insert 메서드와는 반대로 pop 메서드 존재
- pop 메서드는 특정 위치의 값을 반환하고 해당 값을 리스트에서 삭제

In [ ]:
b_list.pop(2)

'peekaboo'

In [ ]:
b_list

['foo', 'red', 'baz', 'dwaf']

- remove 메서드는 리스트의 제일 앞에 위치한 원소부터 삭제

In [ ]:
b_list.append('foo')
print(b_list)
b_list.remove('foo')
print(b_list)

['foo', 'red', 'baz', 'dwaf', 'foo']
['red', 'baz', 'dwaf', 'foo']

- in 예약어를 사용해 리스트에 해당 값이 존재하는지 검사
- not 예약어는 in 예약어를 반대 의미로 사용

In [ ]:
eg1 = 'dwaf' in b_list
print(eg1)
eg2 = 'dwaf' not in b_list
print(eg2)

True
False

#### 리스트 이어 붙이기
- 튜플과 마찬가지로 + 연산자를 사용하면 두 리스트를 붙일 수 있음

In [ ]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

- 미리 정의된 리스트일 경우 extend 메서드를 사용
- 큰 리스트일 경우 extend를 사용하는 것이 기존의 리스트보다 더 빠른 연산이 가능함

In [ ]:
x = [4, None, 'foo']
x.extend([7, 8, (2,3)])
print(x)

[4, None, 'foo', 7, 8, (2, 3)]

#### 정렬

- sort 함수를 사용해서 새로운 리스트를 생성하지 않고 있는 그대로의 리스트를 정렬할 수 있음

In [ ]:
a = [7, 4, 2, 6, 9]
a.sort()
print(a)

[2, 4, 6, 7, 9]

- sort 함수는 편의를 위한 다양한 옵션들이 있음
- 대표적인 예시로 정렬 기준으로 사용할 값을 반환하는 함수

In [ ]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
print(b)

['He', 'saw', 'six', 'small', 'foxes']

#### 슬라이싱

- 리스트와 같은 자료형(배열, 튜플, ndarray)은 색인 연산자 [] 안에 start:stop을 지정해서 원하는 크기만큼 잘라낼 수 있음

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

- 슬라이싱에 다른 순차 자료형을 대입할 수 있음

In [ ]:
seq[3:5] = [6, 3]
print(seq)

[7, 2, 3, 6, 3, 6, 0, 1]

- 색인의 시작 위치에 있는 값은 포함되지만 끝 위치에 있는 값은 포함되지 않음. -> 슬라이싱의 개수 = stop - start
- 색인의 시작값과 끝값을 생략 가능.    
색인의 시작 값이 생략: 순차 자료형의 제일 처음 값부터     
색인의 끝 값이 생략: 순차 자료형의 제일 마지막 값까지
- 음수 색인은 순차 자료형의 끝부터의 위치를 나타냄

In [ ]:
print(seq[:5])
print(seq[3:])
print(seq[-4:])
print(seq[-6:-2])

[7, 2, 3, 6, 3]
[6, 3, 6, 0, 1]
[3, 6, 0, 1]
[3, 6, 3, 6]

- 두번째 콜론 다음에 간격 지정 가능
- 하나 걸러 다음 원소를 선택하려면 다음과 같이 표현 가능

In [ ]:
seq[::2]

[7, 3, 3, 0]

- 값으로 -1을 사용하면 리스트나 튜플을 역순으로 반환

In [ ]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

### 2.1.3 딕셔너리

- 딕셔너리(dict)는 파이썬 내장 자료구조 중 가장 중요한 자료구조
- 다른 프로그래밍 언어에서는 해시맵. 또는 연관 배열로 알려져있음
- 딕셔너리는 키-값 쌍을 저장하며 키와 값은 모두 파이썬 객체
- 각 키는 값과 연관되어 툭정 키가 주어지면 값을 편리하게 검색, 삽입, 수정, 삭제 가능
- 중괄호를 사용해 콜론으로 구분된 키와 값을 둘러싼 딕셔너리가 생성됨

In [ ]:
empty_dict = {}
d1 = {"a": "some value", "b":[1, 2, 3, 4]}
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4]}

- 리스트나 튜플처럼 딕셔너리 값에 접근하거나 값을 입력할 수 있음

In [ ]:
d1[7] = "an integer"
print(d1)
print(d1["b"])

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}
[1, 2, 3, 4]

- 리스트와 튜플에서 사용한 동일한 문법으로 딕셔너리에 들어있는 키를 확인할 수 있음

In [ ]:
"b" in d1

True

- del 예약어나 pop 메서드를 통해 딕셔너리의 값을 삭제 가능.

In [ ]:
d1[5] = "some value"
print("First Dictionary: ", d1)

d1["dummy"] = "another value"
print("Modified Dictionary: ", d1)

del d1[5]
print("Delete d1[5]: ",d1)

ret = d1.pop("dummy")
print("Pop 'dummy'",ret)

print("Final dictionary: ",d1)

First Dictionary:  {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
Modified Dictionary:  {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}
Delete d1[5]:  {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}
Pop 'dummy' another value
Final dictionary:  {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

- keys와 values 메서드는 각각 키와 값이 담긴 이터레이터를 반환
- 키의 순서는 삽입 순서에 따라 다르며 이러한 함수는 키와 값을 각각 동일한 순서로 출력

In [ ]:
print(list(d1.keys()))
print(list(d1.values()))

['a', 'b', 7]
['some value', [1, 2, 3, 4], 'an integer']

- 키와 값에 대해 반복 작업을 해야하는 경우 items 메서드를 사용하면 키와 값의 쌍을 갖는 튜플로 사용 가능

In [ ]:
print(list(d1.items()))

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

- update 메서드를 사용하면 하나의 딕셔너리를 다른 딕셔너리와 합칠 수 있음

In [ ]:
d1.update({'b': 'foo', 'c':12})

print(d1)

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

- update 메서드는 딕셔너리의 값을 그 자리에서 바꾸므로 이미 존재하는 카에 대해 update를 호출하면 이전 값은 사라짐.

#### 순차 자료형에서 딕셔너리 생성하기

- 두 개의 순차 자료형의 각 원소를 짝지어 딕셔너리로 만드는일은 흔히 접합
- 이 작업을 위한 코드     
```
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value
```

- 본질적으로 딕셔너리는 2개의 tuple로 구성되기 때문에 dict 함수가 2개의 tuple의 list를 인수로 받아 딕셔너리를 생성

In [ ]:
tuples = zip(range(5), reversed(range(5)))
print(tuples)

mapping = dict(tuples)
print(mapping)

<zip object at 0x7975100a23c0>
{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### 기본값

- 다음 코드는 기본적인 logic
```
if key in some_dict:
   value = some_dict[key]
else:
   value = default_value
```
- 딕셔너리 메서드인 get과 pop은 반환할 기본값을 받을 수 있으므로 위 코드의 if-else 블록을 다음과 같이 작성 가능
```
value = some_dict.get(key, default_value)
```
- get 메서드는 기본적으로 해당 키가 존재하지 않을 경우 None을 반환
- pop 메서드는 예외를 발생
- 일반적으로 딕셔너리에 값을 대입할 때 리스트 같은 다른 collection에 있는 값을 이용

In [ ]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

by_letter = {}

for word in words:
  letter = word[0]
  if letter not in by_letter:
    by_letter[letter] = [word]
  else:
    by_letter[letter].append(word)

print(by_letter)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

- 위 코드의 if-else 블록을 아래 코드와 같이 변환 가능

In [ ]:
by_letter = {}

for word in words:
  letter = word[0]
  by_letter.setdefault(letter, []).append(word)

print(by_letter)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

- 내장 collection 모듈에는 위 과정을 좀 더 쉽게 만드는 defaultdict라는 클래스가 존재
- 자료형 or 딕셔너리의 각 슬롯에 담길 기본값을 생성하는 함수를 넘겨서 딕셔너리를 생성

In [ ]:
from collections import defaultdict
by_letter = defaultdict(list)

for word in words:
  by_letter[word[0]].append(word)

print(by_letter)

defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### 유효한 딕셔너리 키

- 딕셔너리의 값으로는 어떤 파이썬 객체도 가능
- key 값은 스칼라 자료형(정수, 실수, 문자열) or tuple(튜플에 저장된 값 또한 값이 변하지 않는 객체여야함)
- 기술적으로 hash가 가능해야함. -> hash 함수를 사용해서 딕셔너리의 키 값으로 사용 가능한지 검사 가능

In [ ]:
print(hash('string'))

print(hash((1, 2, (2, 3))))

# hash((1, 2, [2, 3])) -> list는 변경 가능하기 때문에 hash 불가능

4546105010521273158
-9209053662355515447

- 일반적으로 hash 함수를 사용할 때 표시되는 hash 값은 파이썬 버전에 따라 다름
- 만약 list를 key로 사용하려면 list->tuple로 바꿔주면 된다.

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
print(d)

{(1, 2, 3): 5}

### 2.1.4 집합

- 고유한 원소만담는 정렬되지 않은 자료형
- set 함수 혹은 {}를 사용해서 생성

In [ ]:
print("Use set function: ", set([2, 2, 2, 1, 3, 3]))

print("Don't use set function: ", {2, 2, 2, 1, 3, 3})

Use set function:  {1, 2, 3}
Don't use set function:  {1, 2, 3}

- 합집합, 차집합, 대칭차집합 같은 산술 집합 연산 제공

In [ ]:
a = {1, 2, 3, 4, 5}

b = {3, 4, 5, 6, 7, 8}

#합집합
print("By using union: ", a.union(b))
print("By using |: ", a|b)

#교집합
print("By using intersection: ", a.intersection(b))
print("By using &:", a&b)

By using union:  {1, 2, 3, 4, 5, 6, 7, 8}
By using |:  {1, 2, 3, 4, 5, 6, 7, 8}
By using intersection:  {3, 4, 5}
By using &: {3, 4, 5}

- 일반적인 집합 메서드    

|함수|대체 문법|설명|
|----|----|----|
|a.add(x)|N/A|a에 원소 x를 추가|
|a.clear()|N/A|모든 원소를 제거하고 빈 상태로 되돌림|
|a.remove(x)|N/A|a에서 원소 x를 제거|
|a.pop()|N/A|a에서 임의의 원소 제거|
|a.union(b)|a\|b|a와 b의 합집합|
|a.update(b)|a\|=b|a에 a와 b의 합집합을 대입|
|a.intersection(b)|a&b|a와 b의 교집합|
|a.intersection_update(b)|a&=b|a에 a와 b의 교집합을 대입|
|a.difference(b)|a-b|a와 b의 차집합|
|a.difference_update(b)|a-=b|a에 a와 b의 차집합을 대입|
|a.symmetric_difference(b)|a^b|a와 b의 대칭 차집합|
|a.symmetric_difference_update(b)|a^=b|a에 a와 b의 대칭 차집합을 대입|
|a.isssubnet(b)|<=|a의 모든 원소가 b에 속할 경우 True|
|a.issuperset(b)|>=|a가 b의 모든 원소를 포함할 경우 True|
|a.isdisjoint(b)|N/A|a와 b 모두에 속하는 원소가 없을 경우 True|

- 모든 논리 집합 연산은 연산 결과를 좌항에 대입하는 함수도 따로 제공

In [ ]:
c = a.copy()
c|=b
print(c)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
d = a.copy()
d&=b
print(d)

{3, 4, 5}

- 딕셔너리처럼 집합 원소들도 일반적으로 변경 불가능 & 해시 가능
- 집합에 list와 같은 원소를 담을 때는 tuple로 변환

In [ ]:
my_data = [1, 2, 3, 4]

my_set = {tuple(my_data)}

print(my_set)

{(1, 2, 3, 4)}

- 어떤 집합이 다른 집합의 부분 집합인지 상위 집합인지 검사 가능

In [ ]:
a_set = {1, 2, 3, 4, 5}

print({1, 2, 3}.issubset(a_set))
print(a_set.issuperset({1, 2, 3}))

True
True

- 두 집합의 내용이 같다면 두 집합은 동일

In [ ]:
{1, 2, 3} == {3, 2, 1}

True

### 2.1.5 내장 순차 자료형

- 파이썬은 순차 자료형에 사용할 수 있는 유용한 함수 제공

#### enumerate

- 해당 함수는 순차 자료형에서 현제 item의 색인을 함께 추적할 때 흔히 사용
```
index = 0
for value in collection:
    # 여기서 value 변수 사용 가능
    index += 1
```

- 이는 매우 흔한 코드로 파이썬에서 (i, value) 튜플을 반환하는 enumerate 함수가 있음
```
for index, value in enumerate(collection):
    # 여기서 value 변수 사용 가능
```

#### sorted

- 정렬된 새로운 순차 자료형을 반환
- sorted 함수는 list의 sort 메서드와 같은 인수를 취함

In [ ]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))

print(sorted("horse race"))

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

- 여러개의 list or tuple 또는 다른 순차 자료형을 서로 짝지어 tuple list를 생성

In [ ]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)
print(list(zipped))

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

- zip 함수는 여러 개의 순차 자료형을 받을 수 있고 반환되는 list의 길이는 넘겨 받은 순차 자료형 준 가장 짧은 길이를 가짐

In [ ]:
seq3 = [False, True]

print(list(zip(seq1, seq2, seq3)))

[('foo', 'one', False), ('bar', 'two', True)]

- zip 함수는 여러개의 순차 자료형을 동시에 순회할 때 자주 사용되며, enumerate와 함께 사용되기도함.

In [ ]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
  print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

#### reversed

- 순차 자료형을 역순으로 순회

In [ ]:
print(list(reversed(range(10))))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

- reversed는 제너레이터
- 따라서 list()나 for문을 통해 모든 값을 다 받아오기전까지 역순의 순차 자료형을 생성하지 않음

### 2.1.6 리스트, 집합, 딕셔너리 표기법

- 리스트 표기법은 파이썬에서 가장 사랑받는 기능 중 하나
- 이를 이용해서 간결한 표현으로 새로운 리스트를 만들 수 있음
```
[expr for value in collection if condtion]
```
- 이를 반복문으로 구현하면 다음과 같음
```
result = []
fpr value in collection:
    if condition:
        result.append(expr)
```

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

- 집합과 딕셔너리 표기법 또한 리스트의 표기법과 동일
```
dict_comp = {key-expr: value-expr for value in collection
               if condition}
```
```
set_comp = {expr for value in collection if condition}
```

In [ ]:
unique_lengths = {len(x) for x in strings}

unique_lengths

{1, 2, 3, 4, 6}

- map 함수를 이용해서 함수적으로도 표현 가능

In [ ]:
set(map(len, strings))

{1, 2, 3, 4, 6}

- 간단한 딕셔너리 표기법의 예제로 리스트에서 문자열의 위치를 담고 있는 딕셔너리를 생성

In [ ]:
loc_mapping = {value: index for index, value in enumerate(strings)}

loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### 중첩된 리스트 표기법

- 다음은 영어와 스페인어 이름 리스트를 담고 있는 리스트

In [ ]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

- 각 이름에서 알파벳 a가 두 개 이상 포함된 이름의 리스트를 구한다고 가정
- 다음과 같은 반복문을 사용해서 구할 수 있음

In [ ]:
names_of_interest = []

for names in all_data:
  enough_as = [name for name in names if name.count("a") >= 2]
  names_of_interest.extend(enough_as)

print(names_of_interest)

['Maria', 'Natalia']

- 해당 코드를 중첩된 리스트 표기법을 사용

In [ ]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]

print(result)

['Maria', 'Natalia']

- 다음은 숫자 tuple이 담긴 리스트를 단순한 list로 반환하는 예

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

- list 표기법 대신 for문을 사용할 경우 for 표현식의 순서도 list 표기법의 순서와 동일
```
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)
```

In [ ]:
[[x for x in tup] for tup in some_tuples]
# 내부 리스트의 원소를 모두 끄집어낸 리스트를 생성하는 것이 아닌 리스트의 리스트를 생성

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 2.2 함수

- 파이썬에서 코드를 재사용하고 조직화하기 위한 가장 중요한 수단
- def 예약어로 정의
- 선택적으로 return 예약어를 사용하는 코드를 블록에 포함

In [ ]:
def my_function(x, y):
  return x+y

- 코드 실행이 return이 있는 위치에 도달하면 return에 있는 값이나 식의 결과가 해당 함수를 호출한 컨텍스트로 전달

In [ ]:
my_function(1, 2)

3

In [ ]:
result = my_function(1, 2)
result

3

- 함수 블록이 끝날 때까지 return문이 없다면 자동으로 None 반환

In [ ]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")

print(result)

hello!
None

- 함수는 여러개의 위치 인수와 키워드 인수를 받을 수 있음.
- 키워드 인수는 기본값이나 선택적인 인수로 사용

In [ ]:
def my_function2(x, y, z=1.5):
  if z>1:
    return z*(x+y)
  else:
    return z/(x+y)

- 다음 함수는 기본값 1.5를 갖는 선택적인 인수 z를 사용한 함수
- 키워드 인수는 선택 사항이지만 함수를 호출 할 때 위치 인수를 반드시 지정
- 키워드 인수의 이름을 사용하지 않고 z 인수에 값을 넘길 수 있지만 일반적으로 이름을 사용하는 것이 좋음

In [ ]:
print(my_function2(5, 6, z=0.7))

print(my_function2(3.14, 7, 3.5))

print(my_function2(10, 20))

0.06363636363636363
35.49
45.0

- 함수의 키워드 인수는 항상 위치 인수 다음에 와야함.
- 키워드 인수의 순서는 제약 X

### 2.2.1 네임스페이스, 스코프, 지역 함수

- 함수는 전역(global), 지역(local)/ 두 가지 스코프에서 변수를 참조
- 변수의 스코프 = 네임스페이스
- 함수 내에서 선언된 변수는 기본적으로 모두 지역 네임스페이스에 저장
- 지역 네임스페이스는 함수가 호출될 때 생성/ 함수의 인수를 통해 즉시 생성
- 함수의 실행이 끝나면 지역 네임스페이스는 사라짐.

In [ ]:
def func():
  a = []
  for i in range(5):
    a.append(i)

- func() 함수를 호출하면 비어있는 리스트 a가 생성되고 다섯 개의 원소가 리스트에 추가됨.
- 함수가 끝나면 리스트 a가 사라짐.

In [ ]:
a = []

def func():
  for i in range(5):
    a.append(i)

- 다음과 같이 리스트 a가 선언 된다면 func()함수를 호출할 떄마다 리스트 a가 반환

In [ ]:
func()

print(a)

func()

print(a)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

- 함수의 범위 밖에서 젼수에 값을 대입하려면 해당 변수를 지역 변수를 global이나 nonlocal 예약어를 사용해 명시적으로 선언
- nonlocal은 함수가 전역이 아닌 상위 수준 스코프에서 정의된 변수를 수정할 수 있음. 단, 사용법이 다소 난해

In [ ]:
a = None

def bind_a_variable():
    global a
    a = []

bind_a_variable()

print(a)

[]

### 2.2.2 여러 값 반환하기

- 파이썬의 주요 기능중 하나로 다른 언어와 달리 하나의 함수에서 여러 개의 값을 반환하는 기능
```
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c
a, b, c = f()
```
- 데이터 분석과 과학 계산 어플리케이션에서 여러 개의 값을 반환하는 일이 매우 잦음
- 해당 함수는 튜플을 반환한다고 생각할 수 있음
- 위 예제에서 튜플을 반환하여 다음 코드처럼 변수에 대입 가능
```
return_value = f()
```
- 여기서 return_value는 반환된 3개의 값을 갖는 튜플이 됨.
```
def f():
    a = 5
    b = 6
    c = 7
    return {'a': a, 'b':b, 'c':c}
```
- 다음과 같이 딕셔너리 형태로 반환할 수도 있음.

### 2.2.3 함수도 객체다

- 파이썬에서 함수는 개체이므로 다른 언어와는 달리 표현하기 어려운 객체 생성을 쉽게 나타낼 수 있음.

In [ ]:
states = ['   Alabama', ' Georgia!', ' Gerogia', 'georgia', 'FlOrIda', 'south  carolina##', 'West virginia?']

- 다음 데이터는 입력값이 엉망인 데이터
- 분석을 위해 해당 문자열 리스트를 정형화할 필요가 있음
- 주로 공백 문자를 제거하거나 대소문자를 맞추는 등의 작업이 필요
- 내장 문자열 메서드와 정규 표현식을 위한 re 표준 라이브러리를 이용해 해결 가능

In [ ]:
import re

def clean_strings(strings):
  result = []
  for value in strings:
    value = value.strip()
    value = re.sub("[!#?]", "", value)
    value = value.title()
    result.append(value)
  return result

In [ ]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Gerogia',
 'Georgia',
 'Florida',
 'South  Carolina',
 'West Virginia']

- 다른 접근법으로는 적용할 함수를 리스트에 담아두고 각각의 문자열에 적용하는 것

In [ ]:
def remove_punctuation(value):
  return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
  result = []
  for value in strings:
    for func in ops:
      value = func(value)
    result.append(value)
  return result

In [ ]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Gerogia',
 'Georgia',
 'Florida',
 'South  Carolina',
 'West Virginia']

- 다음과 같이 좀 더 실용적인 패턴은 문자열 변형을 상위 레벨에서 쉽게 처리할 수 있음.
- 순차적 자료형에 대해 함수를 적용하는 내장 함수는 map 함수를 이용해서 함수를 인수로 사용 가능

In [ ]:
for x in map(remove_punctuation, states):
  print(x)

   Alabama
 Georgia
 Gerogia
georgia
FlOrIda
south  carolina
West virginia

### 2.2.4 익명(람다)함수

- 파이썬은 익명 혹은 람다 함수라고 부르는 값을 반환하는 단순한 한 문장으로 이루어진 함수를 지원
- lambda 예약어로 익명 함수를 정의

In [ ]:
def short_function(x):
  return x * 2

equiv_anon = lambda x: x*2

- 람다 함수를 사용하면 실제 함수를 선언하거나 지역 변수에 람다 함수를 대입하는 것 보다 코드가 적고 더 간결해짐

In [ ]:
def apply_to_list(some_list, f):
  return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]

apply_to_list(ints, lambda x: x*2)

[8, 0, 2, 10, 12]

In [ ]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

strings.sort(key = lambda x: len(set(x)))

print(strings)

# 고유한 문자열의 개수 (aaaa는 1개, card는 4개)

['aaaa', 'foo', 'abab', 'bar', 'card']

### 2.2.5 제네레이터

- 많은 파이썬의 객체는 리스트 내의 객체나 파일의 각 행 같은 순차적인 자료를 순회하는 방식을 제공
- 이터레이터 프로토콜을 이용해 순회 가능한 객체를 만들 수 있음.

In [ ]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

for key in some_dict:
  print(key)

a
b
c

- for key in some_dict를 작성하면 파이썬 인터프리터는 some_dict에서 이터레이터를 생성

In [ ]:
dict_iterator = iter(some_dict)

dict_iterator

- 이터레이터는 for문과 같은 컨텍스트에서 사용될 경우 객체를 반환
- 리스트나 리스트와 유사한 객체를 취하는 대부분의 메서드는 순회가 가능한 객체도 혀용
- min, max, sum과 같은 내장 메서드나 list, tuple과 같은 자료구조를 생성하는 메서드도 포함

In [ ]:
list(dict_iterator)

['a', 'b', 'c']

- 제너레이터는 순회가 가능한 객체를 생성하는 간단한 방법
- 일반 함수는 실행 시 단일 값을 반환      
제너레이터는 제너레이터를 사용할 때마다 실행을 중지했다가 다시 시작하며 순차적인 값을 반환
- 제네레이터를 생성하려면 함수에서 return 대신 yield 예약어흫 사용

In [ ]:
def squares(n=10):
  print(f"Generating squares from 1 to {n**2}")
  for i in range(1, n+1):
    yield i**2

In [ ]:
gen = squares()

print(gen)

<generator object squares at 0x7de613ff7ae0>

- 제너레이터를 호출하면 코드가 즉각적으로 실행 X
- 제너레이터로부터 값을 요청하면 제너레이터 코드 실행

In [ ]:
for x in gen:
  print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### 제너레이터 표현식

- 제너레이터를 생성하는 더 간단한 방법은 제너레이터 표현식을 사용하는 것
- 리스트 표현식에서 대괄호를 사용하듯이 괄호를 사용해서 제너레이터를 생성

In [ ]:
gen = (x**2 for x in range(100))

print(gen)

<generator object <genexpr> at 0x7de6143379f0>

- 다음은 위 코드와 동일한 코드
```
def make_gen():
    for x in range(100)
      yield x**2
gen = make_gen()
```
- 함수의 인수로 리스트 표현식을 사용하는 대신 제너레이터 표현식을 사용할 수 있음.

In [ ]:
print(sum(x**2 for x in range(100)))

print(dict((i, i**2) for i in range(5)))

328350
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools 모듈

- 표준 라이브러리인 itertools 모듈은 일반적인 데이터 알고리즘을 위해 여러 제너레이터를 제공
- Ex) groupby는 순차 자료구조와 함수를 받아 인수로 받은 함수에서 반환하는 값에 따라 그룹을 지어준다.

In [ ]:
import itertools

def first_letter(x):
  return x[0]

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names, first_letter):
  print(letter, list(names))  # names는 제너레이터

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

- 유용한 itertools 함수

|함수|설명|
|-------|--------|
|chain(*iterables)|이터레이터를 서로 연결해 순차 자료형 생성<br>첫번째 이터레이터레서 값을 모두 꺼내면 다음 이터레이터가 반환|
|combination(iterable, k)|iterable에서 순서를 고려하지 않고 길이가 k인 모든 가능한 조합 생성|
|permutations(iterable, k)|iterable에서 순서를 고려하여 길이가 k인 모든 가능한 조합 생성|
|groupby(iterable[, keyfunc])|iterable에서 각각의 고유한 키에 따라 group을 생성|
|product(*iterables, repeat=1)|iterable에서 데카르트 곱을 구함|

### 2.2.6 오류와 예외 처리

- 견고한 프로그램 작성을 위함
- 데이터 분석 어플리케이션에서 많은 함수가 특정한 종류의 입력만 처리하도록 설계

In [ ]:
print(float("1.2345"))

print(float("something"))

1.2345

ValueError: could not convert string to float: 'something'

- 입력이 적절하지 않은 경우 입력을 그대로 반환
- try/except를 사용해서 개선

In [ ]:
def attempt_float(x):
  try:
    return float(x)
  except:
    return x

In [ ]:
print(attempt_float("1.2345"))

print(attempt_float("something"))

1.2345
something

- TypeError: 입력이 문자열이나 숫자가 아니라는 뜻
- ValueError: 적절하지 않은 입력
- TypeError는 그대로 두고 ValueError만 예외 처리를 할 때 except 뒤에 처리할 예외의 종류를 작성

In [ ]:
def attempt_float(x):
  try:
    return float(x)
  except ValueError:
    return x

In [ ]:
attempt_float((1,2))

TypeError: float() argument must be a string or a real number, not 'tuple'

- 튜플을 사용해서 여러 개의 예외를 괄호로 묶어 한 번에 처리 가능

In [ ]:
def attempt_float(x):
  try:
    return float(x)
  except (TypeError, ValueError):
    return x

- finally: 예외 무시 X, 해당 블록의 코드가 성공적으로 수행되었는지에 대한 여부 관계없이 실행하고 싶을 경우

```
f = open(path, mode='w')

try:
    write_to_file(f)
finally:
    f.close()
```
- 이 경우 파일 핸들인 f는 항상 닫힘
- else: try 블록이 성공적으로 수행되었을때만 수행하는 코드

```
f = open(path, mode='w')

try:
    write_to_file(f)
except:
    print("Failed")
else:
    print("Succeded")
finally:
    f.close()
```

#### IPython에서 예외 처리

- %run: 코드를 실행하던 중에 예외가 발생하면 기본적으로 StackTrace를 출력하고 해당 위치 주변의 코드를 보여줌

```
%run examples/ipyhton_bug.py
```
- %mode: 매직 명령어, 표준 파이썬 인터프리터와 동일한 수준인 Plain부터 함수 인숫값 등을 포함해서 보여주는 Verbose 단계까지 직접 제어 가능

## 2.3 파일과 운영체제

- 파이썬에서 파일을 읽어와 처리하는 방식이 매우 간단
- open: 파이썬의 내장 함수, 파일의 상대경로나 절대 경로를 넘겨주어야함
```
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")
```
- 파일 읽기를 위한 기본 유니코드 인코딩이 플랫폼마다 상이하기 때문에 encoding-"utf-8"을 사용
- 기본적으로 파일은 읽기 전용 모드인 r 모드로 열림
- 파일에서 읽은 줄에는 EOL 문자가 그대로 남아 있기 때문에 다음과 같은 코드 작성
```
lines = [x.string() for x in open(path, encoding="utf-8")]
```
- 파일 객체를 생성하기 위해 open을 사용했다면 작업이 끝났을 때 반드시 close()로 해당 자원을 운영체제에 돌려주어야함
```
f.close()
```
- with문을 사용하면 블록이 끝나는 시점에서 파일 핸들 f가 자동으로 닫힘
```
with open(path, encoding="utf-8") as f:
    lines = [x.strinp() for x in f]
```
- 파일의 읽기/쓰기 모드를 정리한 표     

|모드|설명|
|------|--------|
|r|읽기 전용|
|w|쓰기 전용(새로운 파일을 생성)-같은 이름의 파일이 존재할 경우 덮어씀|
|x|쓰기 전용(새로운 파일을 생성)-같은 이름의 파일이 존재할 경우 실패|
|a|기존 파일에 추가(기존 파일이 없을 경우 새로 생성)|
|r+|읽기/쓰기 모드|
|b|이진 파일 모드, 읽기/쓰기 모드에 추가해 rb, wb로 사용|
|t|텍스트 모드(자동으로 바이트를 유니코드로 디코딩)|

- 파일을 읽을 경우 주로 사용하는 메서드: read, seek, tell

- read: 해당 파일에서 특정 개수만큼의 문자를 반환
- read 메서드는 읽은 바이트만큼 파일 핸들의 위치를 옮김.
- tell: 현재 위치를 알려줌
- 파일에서 10개의 문자를 읽었을 떄 위치는 11 -> 기본 인코딩에서 10개의 글자를 디코깅하기 위해 그 만큼의 바이트가 필요하기 때문
- 기본 인코딩은 sys 모듈을 통해 확인 가능
- seek: 파일 핸들의 위치를 해당 파일에서 지정한 바이트 위치로 옮김

- 주로 사용하는 파일 메서드 표

|메서드|설명|
|------|-------|
|read([size])|파일에서 데이터를 읽어 문자열로 반환(size 인수를 사용해 몇 바이트를 읽을것인지 결정)|
|readable()|읽기 작업이 가능한 경우 True 반환|
|readlines([size])|파일의 매 줄을 모두 읽어 리스트로 반환(size 인수를 사용해 몇 바이트를 읽을 것인지 결정|
|write(string)|전달 받은 문자열을 파일에 기록|
|writable()|쓰기 작업이 가능한 경우 True를 반환|
|writelines(strings)|전달받은 일련의 문자열을 파일에 기록|
|close()|파일 핸들을 닫음|
|flush()|내부 I/O 버퍼를 디스크로 비움|
|seek(pos)|파일 내에 지정한 위치로 이동|
|sekkable()|파일 객체가 탐색 및 랜덤 엑세스를 지원하면 True를 반환|
|tell()|현재 파일의 위치를 정수 형태로 반환|
|closed|파일 핸들이 닫힌 후 True를 반환|
|encoding|파일 내 바이트를 유니 코드로 해석하는 데 사용되는 인코딩|

### 2.3.1 바이트와 유니코드

- 읽기/쓰기의 파이썬 파일은 파이썬 문자열을 다루기 위한 텍스트 모드를 기본으로 함.
- 파일 모드에 b를 추가해서 쓸 수 있는 이진 모드와는 다름
- UTF-8: 가변 길이 유니코드 인코딩
- 파일에서 일부 문자를 읽어오도록 한다면 파이썬은 필요한 만큼의 바이트를 파일에서 읽은 다음 10문자로 디코딩
- 만약 파일을 rb 모드로 열었다면 read는 딱 10 바이트만 읽어옴
- 텍스트 인코딩에 따라 읽어온 바이트를 str 객체로 직접 디코딩이 가능하지만 온전한 유니코드 문자로 인코딩 되어있을 경우에만 가능
- open 메서드에 encoding 옵션을 지정한 텍스트 모드에서는 유니코드 인코딩을 다른 인코딩으로 쉽게 변경할 수 있는 방법을 제공
- 이진 모드가 아닐 경우 열린 파일에서 seek 메서드를 호출할 때 주의
- 유니코드 문자를 정의하는 바이트 사이로파일 위치를 지정하게 되면 뒤이은 읽기에서 오류가 발생